image_similarity_measures==0.3.6
imageio==2.34.1
ipywidgets==7.7.1
matplotlib==3.5.1
nibabel==5.2.1
numpy==1.21.5
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==9.0.1
Pillow==10.3.0
pydicom==2.4.4
SimpleITK==2.3.1
SimpleITK_SimpleElastix==2.0.0rc2.dev910
skimage==0.0
torch==2.0.0+cu118
torchvision==0.15.1+cu118
tqdm==4.65.0
transformers==4.40.1
